################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CleanArchitechture-master/CleanArchitechture-master/.vs/BE_2911_CleanArchitechture/FileContentIndex
